.container{
    background-color: rgb(34, 34, 34);
    width:500px;
    height:400px;
    border-radius: 20px;
     display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:white;

}
h3{
    color:white;
}
#search-btn{
    border-radius: 20px;
    width:300px;
    height:30px;
    background-color: rgb(88, 88, 88);
}
input::placeholder{
    color: white;
    font-size: 20px;
    
}
body{
    background-color: rgb(93, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
}